<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="https://apl-static.oss-cn-beijing.aliyuncs.com/favicon.ico">
  <title>洪泰智造智能办公系统</title>
<!--  <link rel="stylesheet" href="https://apl-static.oss-cn-beijing.aliyuncs.com/calendar-heatmap.min.css">-->
</head>
<body>
<div id="root"></div>
<script src="https://cdn.bootcss.com/babel-polyfill/7.6.0/polyfill.min.js"></script>
<script src="https://gosspublic.alicdn.com/aliyun-oss-sdk-4.13.2.min.js"></script>
<script crossorigin src="<%= htmlWebpackPlugin.options.react%>"></script>
<script crossorigin src="<%= htmlWebpackPlugin.options.reactDom%>"></script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.15.0/d3.min.js"></script>
<!--<script src="https://apl-static.oss-cn-beijing.aliyuncs.com/calendar-heatmap.min.js"></script>-->
</body>
</html>
