<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="
    default-src none;
    connect-src 'self' https://apl.apluslabs.com;
    script-src 'self' localhost:* unpkg.com 'unsafe-eval';
    img-src 'self' localhost:* https://apl-verification-code.oss-cn-shanghai.aliyuncs.com;
    style-src 'self' 'unsafe-inline'" />
  <title>Hello React!</title>
</head>
<body>
<div id="root"></div>

<script crossorigin src="<%= htmlWebpackPlugin.options.react%>"></script>
<script crossorigin src="<%= htmlWebpackPlugin.options.reactDom%>"></script>
</body>
</html>
